.scene-background {
    -fx-background-image: url("/com/example/gestionbudget/assets/picture/background-table.jpg");
    -fx-border-image-repeat: no-repeat;
    -fx-background-size: cover;
}

.labelTitle {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-text-fill: rgb(19, 115, 101);
    -fx-font-family: "Droid Sans";
}

/************** Table View **************/

.table-view {
    -fx-background-color: transparent;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.table-view .column-header .label {
    -fx-font-family: "Droid Sans";
    -fx-text-fill: rgb(19, 115, 101);
    -fx-font-size: 14;
}
.table-view .table-row-cell {
    -fx-font-family: "Droid Sans";
    -fx-background-color: transparent;
    -fx-font-size: 12;
    -fx-cell-size: 30;
}

.table-view .table-cell {
    -fx-font-family: "Droid Sans";
    -fx-font-weight: 600;
    -fx-alignment: center;
}

.column-normal {
    -fx-background-color: rgba(255, 255, 255, 0.65);
}

.column-green {

    -fx-background-color: rgba(225, 248, 225, 0.69);
}

.button {
    -fx-font-family: "Droid Sans";
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

.button-list {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.addButton {
    -fx-background-color: rgb(19, 115, 101);;
    -fx-text-fill: white;
}

.deleteButton {
    -fx-background-color: white;
    -fx-text-fill: rgb(19, 115, 101);
}

#emptyTableLabel {
    -fx-text-fill: gray;
    -fx-font-size: 16px;
    -fx-font-style: italic;
    -fx-alignment: center;
}